<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Website</title>

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/style.css') }}">
</head>

    <body>

        <!-- NAVIGATIONSLEISTE -->

            <nav id="header-nav">

                <!-- DESKTOP-NAVIGATION -->

                <div class="container" id="desktop-nav">
                    <div class="row">
                        <div class="col-6">

                            <ul>
                                {% if not session.login_confirmed %}
                                    <li><a class="navbar-items" href="/">Login</a></li>
                                {% else %}
                                    <li><a class="navbar-items" href="/selection">Quiz-Auswahl</a></li>
                                {% endif %}

                                {% if session.is_admin %}
                                    <li><a class="navbar-items" href="/quizdb/addcatstops">Kategorien/Themen hinzufügen</a></li>
                                    <li><a class="navbar-items" href="/quizdb/addquestions">Fragen hinzufügen</a></li>
                                    <li><a class="navbar-items" href="/quizdb/editquestions">Fragen bearbeiten</a></li>
                                {% endif %}

                                    <li><a class="navbar-items" href="/highscores">Highscores</a></li>

                                {% if session.username %}
                                    <li><a class="navbar-items" href="/api/auth/clear-session">Logout</a></li>
                                {% endif %}
                            </ul>



                        </div>
                    </div>
                </div>

                <!-- MOBILE-NAVIGATION -->

                <div class="container" id="mobile-nav">
                    <div class="row">
                        <div class="col-6">


                            <div class="clearfix" id="mobile-nav-dropdown">

                                <div id="mobile-nav-button"><span>&equiv;</span></div>

                                <div class="clearfix" id="mobile-nav-content">

                                    <ul>
                                        {% if not session.login_confirmed %}
                                            <li><a class="navbar-items" href="/">Login</a></li>
                                        {% else %}
                                            <li><a class="navbar-items" href="/selection">Quiz-Auswahl</a></li>
                                        {% endif %}

                                        {% if session.is_admin %}
                                            <li><a class="navbar-items" href="/quizdb/addcatstops">Kategorien/Themen hinzufügen</a></li>
                                            <li><a class="navbar-items" href="/quizdb/addquestions">Fragen hinzufügen</a></li>
                                            <li><a class="navbar-items" href="/quizdb/editquestions">Fragen bearbeiten</a></li>
                                        {% endif %}

                                            <li><a class="navbar-items" href="/highscores">Highscores</a></li>

                                        {% if session.username %}
                                            <li><a class="navbar-items" href="/clear-session">Logout</a></li>
                                        {% endif %}
                                    </ul>

                                </div>

                            </div>

                            
                        </div>
                    </div>
                </div>

            </nav>
        
            <!-- QUIZWEBSITE LAYOUT -->

            <div id="main-container">
                

                <h1>
                    {% block header%}
                    {% endblock %}
                </h1>

                

                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>

                
            </div>

            <!-- FOOTER -->

            <footer id="footer">

                <div class="content">
                    <span>© 2024 Lars-Oliver Finke und Bojan Bader. Alle Rechte vorbehalten.</span>
                </div>

                
            </footer>
        

            
            <script src="{{ url_for('static', filename='script/index.js') }}" defer></script>

    </body>

</html>