{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/highscores.css') }}">    
{% endblock %}

{% block content %}

    <!-- HIGHSCORES-SELECTOR -->
    <div class="wrapper centered">
        <div class="header centered">
        <h1>Highscores</h1>
        </div>
        <br>

        <div class="select-wrapper">
            <form>
                <label for="mode">Ranking:</label>
                <select id="mode" onchange="updateMode(event)">
                    <option value="" disabled selected>-- Spielmodus --</option>
                    <option value="full">Alle Bereiche</option> 
                    <option value="categ">Kategorie</option>
                    <option value="topic">Thema</option>
                </select>
            </form>


            {% if session.highscore_mode == "categ" or session.highscore_mode == "topic" %}
                <form method="post">
                    <label for="category">Kategorie:</label>
                    <select name="category" id="mode" onchange="this.form.submit()">
                
                    {% if not session.highscore_category_name %}
                        <option value="">-- Wähle eine Kategorie --</option>
                    {% else %}
                        <option value="{{session.highscore_category_name}}">{{session.highscore_category_name}}</option>
                    {% endif %}

                    {% for category, category_id in categories.items() %}
                        <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                    </select>
                </form>
            {% endif %}

            {% if session.highscore_mode == "topic" %}
                {% if session.highscore_category_name %}
                    <form method="post">
                        <label for="topic">Themen:</label>
                        <select name="topic" id="mode" onchange="this.form.submit()">
                    
                        {% if session.highscore_topic_name %}
                            <option value="{{session.highscore_topic_name}}">{{session.highscore_topic_name}}</option>
                        {% else %}
                            <option value="">-- Auswahl --</option>
                        {% endif %}

                        {% for topic, topic_id in topics.items() %}
                            <option value="{{topic}}">{{topic}}</option>
                        {% endfor %}
                        </select>
                    </form>
                {% endif %}
            {% endif %}
        </div>


    <!-- HIGHSCORES TABLE -->
        <div class="scroll-container centered bordered">
            {% if highscores %}
                <table>
                    <tr>
                        <th>Spieler</th>
                        <th>Punktzahl</th>
                        <th>Datum</th>
                    </tr>
                    {% for player, score, date in highscores %}
                        <tr>
                            <td>{{player}}</td>
                            <td>{{score}}</td>
                            <td>{{date}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>

    </div>    

{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='script/highscores.js') }}" defer></script>
{% endblock %}
