{% extends "base.html" %}

{% block header %}
Highscores!
{% endblock %}

{% block content %}
<br>
    <form class="form highscore-selection" method="POST">
        <div class="selector">
            <div class="selector-wrapper">
                <label for="mode">Quiz Mode:</label>
                <select name="mode" id="mode" onchange="this.form.submit()">
            </div>
                {% if not session.highscore_mode %}
                    <option value="">-- Select a mode --</option>
                    <option value="full">Full Quiz</option> 
                    <option value="categ">Category</option>
                    <option value="topic">Topic</option>

                {% elif session.highscore_mode == "full" %}
                    <option value="full">Full Quiz</option> 
                    <option value="categ">Category</option>
                    <option value="topic">Topic</option>

                {% elif session.highscore_mode == "categ" %}
                    <option value="categ">Category</option>
                    <option value="full">Full Quiz</option>
                    <option value="topic">Topic</option>

                {% elif session.highscore_mode == "topic" %}
                    <option value="topic">Topic</option>
                    <option value="full">Full Quiz</option> 
                    <option value="categ">Category</option>

                {% endif %}
            </select>
        </div>
    </form>
<br>
    {% if session.highscore_mode == "categ" or session.highscore_mode == "topic" %}
        <form class="form highscore-selection" method="post">
            <div class="selector">
                <div class="selector-wrapper">
                    <label for="category">Category:</label>
                    <select name="category" id="category" onchange="this.form.submit()">
                </div>
                    {% if not session.highscore_category_name %}
                        <option value="">-- Select a category --</option>
                    {% else %}
                        <option value="{{session.highscore_category_name}}">{{session.highscore_category_name}}</option>
                    {% endif %}

                    {% for category, category_id in categories.items() %}
                        <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    {% endif %}
<br>
    {% if session.highscore_mode == "topic" %}
        {% if session.highscore_category_name %}
            <form class="form highscore-selection" method="post">
                <div class="selector">
                    <div class="selector-wrapper">
                        <label for="topic">Topic:</label>
                        <select name="topic" id="topic" onchange="this.form.submit()">
                    </div>
                        {% if session.highscore_topic_name %}
                            <option value="{{session.highscore_topic_name}}">{{session.highscore_topic_name}}</option>
                        {% else %}
                            <option value="">-- Select a topic--</option>
                        {% endif %}

                        {% for topic, topic_id in topics.items() %}
                            <option value="{{topic}}">{{topic}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        {% endif %}
    {% endif %}

<br>
<br>
{% if highscores %}
<table>
    <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Date</th>
    </tr>
    {% for player, score, date in highscores %}
        <tr>
            <td>{{player}}</td>
            <td>{{score}}</td>
            <td>{{date}}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
    
{% endblock %}