{% extends "base.html" %}

{% block header %}
Bitte Anmelden oder Registrieren
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        <!-- FEHLERMELDUNG UNGÜLTIGE-DATEN -->
        <div class="flash-success">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    

    <!-- LOGIN-FENSTER -->

    
    
        <form method="POST" class="form">
            <div class="login-eingabe">
                <label for="username">Benutzername:</label>
                <input type="text" name="username">

                

                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password">
            </div>
            

            <div class="show-password">
                <label for="showPassword">Passwort anzeigen!</label>
                <input type="checkbox" id="showPassword" onclick="togglePassword()">
            </div>

            
            
            <!-- LOGIN-BUTTONS -->

            <div class="btn-box">
                <button type="reset" class="btn primary">Clear</button>
                        
                <button type="submit" class="btn primary" name="login" value="login">Login</button>
            </div>

        
                    
            <button type="submit" class="btn primary" name="login" value="guest">Join as Guest</button>
        </form>

{% endblock %}