{% extends "base.html" %}

{% block header %}
Bitte Anmelden oder Registrieren
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        <!-- FEHLERMELDUNG UNGÜLTIGE-DATEN -->
        <div class="flash-success">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}



    
    <!-- LOGIN-FORM -->

    <div class="wrapper">
        <form action="">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox"></label>
                <a href="#">Passwort Vergessen?</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Kein Account? <a href="#">Registrieren!</a></p>
            </div>
        </form>
    </div>




{% endblock %}