{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div>
            <h1></h1>
    
                <div class="wrapper" id="quiz-wrapper">
                    
                    
                    <form method="POST" class="form">
                        <div class="row">
                            <div class="col-6">
                                <h3>{{ question.questionText }}</h3>
                            </div>
                        </div>
                        
                        {% if question.imageID != 0 %}
                        <hr>
                        <div class="row">
                            <div class="col-6">
                            <img src="{{ url_for('views.serve_image', image_id=question.imageID) }}" alt="Bild zur Frage">
                            </div>
                        </div>
                        {% endif %}
                        <hr>
                        <div class="row" id="answer-box">
                            <div class="col-6">
                                <button class="btn-antworten" name="user_answer" value="1">{{question.answer1}}</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-antworten" name="user_answer" value="2">{{question.answer2}}</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-antworten" name="user_answer" value="3">{{question.answer3}}</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-antworten" name="user_answer" value="4">{{question.answer4}}</button>
                            </div>       
                            
                        </div>
                    </form>
                </div>
        </div>
    </div>



{% endblock %}