{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/quiz.css') }}">    
{% endblock %}

{% block content %}

    <div class="wrapper centered">
        <form method="POST" class="centered">
            <h2>questionText</h2>
            
            <hr>
            <div class="centered">
                <img src="{{ url_for('api.serve_image', image_id=1) }}" alt="Bild zur Frage">
            </div>

            <hr>
        
            <button class="btn-medium" name="user_answer" value="1">answer1</button>
            <button class="btn-medium" name="user_answer" value="2">answer2</button>
            <button class="btn-medium" name="user_answer" value="3">answer3</button>
            <button class="btn-medium" name="user_answer" value="4">answer4</button>   
        </form>
    </div>

{% endblock %}