{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/quiz.css') }}">    
{% endblock %}

{% block content %}

    <div class="wrapper centered">
        <form method="POST" class="centered">
            <h2>{{ question.questionText }}</h2>
            
            {% if question.imageID != 0 %}
                <hr>
                <div class="centered">
                    <img src="{{ url_for('views.serve_image', image_id=question.imageID) }}" alt="Bild zur Frage">
                </div>
            {% endif %}
                <hr>
            
                <button class="btn-medium" name="user_answer" value="1">{{question.answer1}}</button>
                <button class="btn-medium" name="user_answer" value="2">{{question.answer2}}</button>
                <button class="btn-medium" name="user_answer" value="3">{{question.answer3}}</button>
                <button class="btn-medium" name="user_answer" value="4">{{question.answer4}}</button>   
        </form>
    </div>

{% endblock %}