{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        
        <!-- REGISTRIERUNGS-BENACHRICHTIGUNG -->
        <div class="flash-success">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>
        
        {% endif %}
    {% endwith %}

    
    <div class="wrapper">
        <form action="">
            <h1>Registrierung</h1>
            <div class="input-box">
                <input type="text" placeholder="Benutzername" required>
            </div>
            <div class="input-box">
                <input id="password" type="password" placeholder="Passwort" required>
            </div>
            <div class="input-box">
                <input id="password2" type="password" placeholder="Passwort Wiederholen" required>
            </div>


            <div class="remember-forgot">
                <button type="reset" class="btn-reset">Zurücksetzen</button>
                <label for="showPassword"><input type="checkbox" id="showPassword" onclick="togglePasswords()">Passwort anzeigen!</label>
            </div>

            <button type="submit" class="btn">Registrieren</button>
        

            <div class="register-link">
                <p><a href="#">Bereits registriert!</a></p>
            </div>
        </form>
    </div>



    <!-- <form method="POST" class="form">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required>

        
        
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required>

        
        
        <label for="password2">Wiederholen:</label>
        <input type="password" id="password2" name="password2" required>

        
        
        <div class="show-password">
            <label for="showPassword">Passwort Anzeigen!</label>
            <input type="checkbox" id="showPassword" onclick="togglePasswords()">
        </div>
        
        
        
        <div class="btn-box">
            <button type="reset" class="btn primary">Clear</button>
            <button type="submit" class="btn primary">Registrieren</button>
        </div>
    </form> -->
{% endblock %}