{% extends "base.html" %}

{% block header %}
!Hier Registrieren!
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        
        <!-- REGISTRIERUNGS-BENACHRICHTIGUNG -->
        <div class="flash-success">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>
        
        {% endif %}
    {% endwith %}

    

    <form method="POST" class="form">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required>

        
        
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required>

        
        
        <label for="password2">Wiederholen:</label>
        <input type="password" id="password2" name="password2" required>

        
        
        <div class="show-password">
            <label for="showPassword">Passwort Anzeigen!</label>
            <input type="checkbox" id="showPassword" onclick="togglePasswords()">
        </div>
        
        
        
        <div class="btn-box">
            <button type="reset" class="btn primary">Clear</button>
            <button type="submit" class="btn primary">Registrieren</button>
        </div>
    </form>
{% endblock %}