{% extends "base.html" %}

{% block styles %}
<!-- <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/selection.css') }}">     -->
{% endblock %}

{% block content %}

    <!-- SELECTION-BEREICH -->
    <div class="wrapper centered">

        <h1>Werde zum Quiz-Hunter</h1>
        
        <hr>

        <form class="centered">
            <label for="category">Kategorie:</label>
            <select name="category" id="category">
                <option>-- Kategorie wählen --</option>
            </select>
            <button type="submit" class="btn-small" name="start" value="categ">Spiel' eine Kategorie!</button>
        </form>
        
        <hr>
        
        <form class="centered">
            <label for="topic">Thema:</label>
            <select name="topic" id="topic">
                <option>-- Thema wählen --</option>
            </select>
            <button type="submit" class="btn-small" name="start" value="topic">Spiel' ein Thema!</button>
        </form>

        <hr>

        <form class="centered" method="POST">
            <button type="submit" class="btn-small" name="start" value="full">Alle Bereiche!</button>
        </form>

    </div>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='script/selection.js') }}" defer></script>
{% endblock %}