/* ### VARIABLES ### */
:root {
    /* dark */
    --dark-blue: #161638;
    --navy-blue: #18206F;
    --light-navy-blue: #1d2785;
    --matt-blue: #1B435E;
    --light-blue: #3d82a7;
    --light-purp: #563457;
    --dark-purp: #302442;
    --grey: #CBCBD4;
    --light-grey: #e8e8f0;
    --gold: #D4AF37;

    /* light */
    --yellow: #FFED00;
    --yellow-orange: #F8B405;
    --orange: #F17A0A;
    --light-red: #EA400F;
    --dark-red: #E30613;
}



/* ### DEFAULTS ### */

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/classroom.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}



/* === GENERAL === */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    background-color: #A62C21 !important;
}

h1 {
    color: #FFF;
    margin-bottom: 1rem;

}

.btn {

    background: #FFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.6rem;
    color: #333;
    font-weight: 700;
}
/* ### NAVBAR GENERAL ### */

#header-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: var(--grey);
    opacity: .9;
}

.navbar-items {
    margin-left: .5rem;
    border: 2px solid #E30613;
    background-color: #E30613;
}

#desktop-nav ul {
    padding-top: .35rem;
}

/* LINK STYLE */
a {
    text-decoration: none;
    font-size: 1.3rem;
}
a:link {
    color: var(--gold);
}

a:active {
    color: var(--dark-red);
}
a:visited {
    color: var(--gold);
}

a:hover {
    color: var(--light-red);
}



/* ### NAVBAR MOBIL ### */

#mobile-nav img {
    float: left;
    height: 42px;
    margin-top: 4px;
    margin-left: 4px;
}

#mobile-nav h1 {
    float: left;
    margin: .5rem 0 0 2rem;
    padding: .25rem;
    text-decoration: underline;
}

#mobile-nav-dropdown{
    float: right;
}

#mobile-nav-button {
    font-size: 2.5rem;
    color: var(--dark-red);
    width: 50px;
    height: 50px;
    text-align:center;

    float: right;
    position: relative;
}

#mobile-nav-content {
    display: none;
    background-color: var(--light-navy-blue);
    border-top: 2px solid var(--navy-blue);
    width: fit-content;
    height: fit-content;
    padding-right: 1rem;
}
#mobile-nav-content ul {
    padding-left: 0;
}
#mobile-nav-content li {
    list-style-type: none;
    padding: .3rem;
    margin-bottom: .7rem;
    background-color: var(--navy-blue);
    text-align: center;
}
#mobile-nav-dropdown:hover > #mobile-nav-content {
    display: block;
}


#mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

}


/* ### NAVBAR DESKTOP ### */

#desktop-nav {
    width: 100%;
}
#desktop-nav ul {
    justify-content: space-evenly;
    margin-top: .5rem;
}
#desktop-nav ul > li {
    display: inline-block;
}


/* === GRID-SYSTEM === */
.col-1 { width: 16.666%; }

.col-2 { width: 33.333%; }

.col-3 { width: 50%;     }

.col-4 { width: 66.666%; }

.col-6 { width: 100%;    }


.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}

/* === LOGIN-FORM === */

.wrapper {
    width: 95%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #FFF;
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

#quiz-wrapper h3 {
    text-align: center;
}


.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #FFF;    
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #FFF;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .show-password {
    margin: 2rem;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #FFF;
    margin-right: 3px;
}

.remember-forgot a {
    color: #FFF;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}



.wrapper .btn {
    width: 100%;
    height: 45px;
    
}

.wrapper .btn-reset {
    width: 40%;
    height: 25px;
    background: #FFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
}

.wrapper .btn-gast {
    width: 60%;
    height: 30px;
    background: #FFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
}


.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.btn-antworten {
    width: 100%;
}

/* === MEDIA-QUESTIONS === */

@media (max-width: 1920px) {

    #quiz-wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 45vh;
    
    }

    #quiz-wrapper {
        width: 90%;
        padding: 0;
        margin-top: 4rem;
        text-align: center;
        
    }

    #answer-box .col-6  {
        width: 25%;  
    }

    

    #quiz-wrapper .btn-antworten {
        font-size: 1.6rem;
        height: 200px;
    }


}

@media (max-width: 1600px) {

    #quiz-wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40vh;
    
    }

    #quiz-wrapper {
        width: 90%;
        padding: 0;
        margin-top: 4rem;
        text-align: center;
    }

    #answer-box .col-6  {
        width: 25%;  
    }

    #quiz-wrapper .btn-antworten {
        font-size: 1.5rem;
        height: 150px;
    }


}

@media (max-width: 1440px) {

    #quiz-wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 30vh;
    
    }

    #quiz-wrapper {
        width: 90%;
        padding: 0;
        margin-top: 4rem;
        text-align: center;
    }

    #answer-box .col-6  {
        width: 25%;  
    }

    #quiz-wrapper .btn-antworten {
        font-size: 1.3rem;
        height: 130px;
    }

}


@media (max-width: 1024px) {

    #quiz-wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 30vh;
    
    }

    #quiz-wrapper {
        width: 90%;
        margin-top: 4rem;
        text-align: center;
    }

    #answer-box .col-6  {
        width: 50%;
        
    }

    #quiz-wrapper .btn-antworten {
        font-size: 1.2rem;
        
    }

}

@media (max-width: 768px) {

    #quiz-wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20vh;
    }

    #quiz-wrapper {
        width: 90%;
        padding: 0;
        margin-top: 4rem;
        text-align: center;
    }

    #quiz-wrapper .btn-antworten {
        font-size: 1.2rem;
        height: auto;  
    }

    #answer-box .col-6  {
        width: 100%;  
    }

}

@media (max-width: 480px) {

    #quiz-wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20vh;
        
    }

    #quiz-wrapper {
        width: 90%;
        padding: 8px;
        text-align: center;
    }

    #quiz-wrapper .btn-antworten {

        font-size: 1.1rem;

    }

}

@media (max-width: 320px) {


    #quiz-wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20vh;
        
    }

    #quiz-wrapper {
        width: 90%;
        padding: 8px;
        text-align: center;
    }
}


/* === SELECTION-BEREICH === */

.wrapper-selector {
    width: 95%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #FFF;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
    margin-top: 10vh;
}

.wrapper-selector h1 {
    font-size: 2rem;
    text-align: center;
}

.wrapper-fullquiz {
    margin-top: 1.5rem;
    text-align: center;
    
}

/* .wrapper-category {
    margin-top: 2rem;
    text-align: center;
}

.wrapper-topic {
    margin-top: 2rem;
    text-align: center;
} */

.wrapper-label-selection {
    font-size: 1.4rem;
    padding: 2%;
    
}

#category {

    font-size: 1.1rem;
}

#topic {

    font-size: 1.1rem;
}

.btn-small {
    font-size: 1.1rem;
    padding: 1.5%;
    margin: 8% 2% 4% 2%;
    
}

/* .btn-selector {

    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
} */



/* === HIGHSCORE-SELECTION === */

/* .highscore-wrapper-selector {
    width: 95%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #FFF;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
    margin-top: 10vh;
}

.highscore-selection {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.highscore-selection h1 {
    font-size: 2rem;
    text-align: center;
}

.highscore-select {
    
    font-size: 1.1rem;
    
}

#mode {
    font-size: 1.1rem;
} */



/* #highscores-table {
    background: #673f3c;
    width: 400px;
    margin: 10% auto;
    padding: 30px;
    border-radius: 20px;
}

.scroll-container {
    width: 400px;
    background: #A62C21;
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
} */



/* === FOOTER === */

/* #footer {
    position: relative;
} */

#footer {
    
    position: absolute;
    bottom: 0;
    background-color: #3D3F45;
    width: 100%;
    color: #FFF;
    height: auto;
}




/* @media (max-width: 1024px) {

    .col-1 { width: 33.333%; }

}

@media (max-width: 768px) {

    .col-1 { width: 50%; }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }

    .col-4 { width: 100%; }

}

@media (max-width: 480px) {

    .col-1 { width: 100%; }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }

    .col-4 { width: 100%; }

} */