:root{
    /* dark */
    --dark-blue: #161638;
    --navy-blue: #18206F;
    --matt-blue: #1B435E;
    --light-blue: #3d82a7;
    --light-purp: #563457;
    --dark-purp: #302442;
    --grey: #CBCBD4;

    /* light */
    --yellow: #FFED00;
    --yellow-orange: #F8B405;
    --orange: #F17A0A;
    --light-red: #EA400F;
    --dark-red: #E30613;

    /* highlight */
    --gold: #D4AF37;
}



html, body{
    background-color: var(--navy-blue);

    color: var(--grey);
    font-family: Arial, Helvetica, sans-serif;
    
    scroll-behavior: smooth;
}

hr{
    width: 100%;
}

h1{
    text-decoration: underline;
    margin: auto; 
}



/*Navbar style*/
.navbar{
    padding: 8px;
    margin: auto;

    display: flex;
    justify-content: center;

    max-width: fit-content;

    border: 2px solid var(--grey);
    border-radius: 16px;
    box-shadow: 4px black;
}
.navbar-item {
    font-size: 1rem;
    margin: auto;
}

a{
    color: var(--gold);
    font-size: 1.15rem;
    text-decoration: none;
}
a:hover{
    color: var(--orange);
}
a:active{
    color: var(--dark-red);
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--navy-blue);
    opacity: 80;
    width: 100%;
    border: 2px solid grey;
    border-radius: 12px;
}


.main-container {
    margin: auto;
    margin-top: 15vh;
    padding: 8px;

    max-width: 90%;
    max-height: 70%;

    border: 2px solid var(--grey);
    border-radius: 16px;
    box-shadow: 4px black;
}


.form{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.form label{
    font-weight: 600;
}
.form input{
    font-size: 1.1rem;
    font-weight: bold;

}
.show-password{
    font-size: 0.85rem;
    font-style: italic;
    text-decoration: underline;
}


.btn{
    background-color: var(--navy-blue);
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: bold;

    min-width: fit-content;

    border: 2px solid var(--grey);
    border-radius: 8px;
}
.btn:hover{
    background-color: var(--light-blue);
    color: white;
}
.btn-box{
    display: flex;
    justify-content:space-between;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
th, td {
    font-size: 1rem;
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
    min-width: fit-content;
}
th {
    font-weight: bold;
    text-decoration: underline;
}
tr:nth-child(even) {
    background-color: var(--matt-blue);
}
tr td:hover {
    background-color: var(--light-blue);
}


.highscore-selection{
    display: flex;
    align-items: flex-end;

}
.highscore-selection select, option{
    font-size: 1.2rem;
    font-weight: 600;
    min-width: 120px;
}

.selector{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.selector-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;

}



@media (min-width: 760px) {
    body, html{
        font-size: 1.15rem;
    }

    a{
        font-size: 1.35rem;
    }

    .main-container{
        max-width: 70%;
        margin-top: 11vh;
    }

    .form{
        font-size: 1.4rem;
    }
    .form input{
        font-size: 1.3rem;
    }

    .show-password{
        font-size: 1rem;
    }

    .btn{
        font-size: 1.3rem;
    }
    .highscore-selection{
        display: flex;
        align-items: flex-end;
    }
}


@media (min-width: 1000px){
    .main-container{
        max-width: 60%;
    }

    .highscore-selection{
        display: flex;
        align-items: flex-end;
        margin-right: 25%;
    }
    .highscore-selection select, option{
        font-size: 1.2rem;
        font-weight: 600;
    }
}


@media (min-width: 1400px){
    body, html{
        font-size: 1rem;
    }

    .main-container{
        max-width: 50%;
        margin-top: 16vh;
    }

    .highscore-selection{
        display: flex;
        align-items: flex-end;
        margin-right: 35%;
    }
    th, td {
        font-size: 1.15rem;
        padding: 8px 12px;
        text-align: left;
        border: 1px solid #ddd;
        min-width: fit-content;
    }
}


@media (min-width: 1900px){
    .main-container{
        max-width: 40%;
        margin-top: 21vh;
    }
}

