/* ### VARIABLES ### */
:root {
    /* dark */
    --dark-blue: #161638;
    --navy-blue: #18206F;
    --light-navy-blue: #1d2785;
    --matt-blue: #1B435E;
    --light-blue: #3d82a7;
    --light-purp: #563457;
    --dark-purp: #302442;
    --grey: #CBCBD4;
    --light-grey: #e8e8f0;
    --gold: #D4AF37;

    /* light */
    --yellow: #FFED00;
    --yellow-orange: #F8B405;
    --orange: #F17A0A;
    --light-red: #EA400F;
    --dark-red: #E30613;
}



/* ### DEFAULTS ### */

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/classroom.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}



/* === GENERAL === */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    background-color: #A62C21 !important;
}

h1 {
    color: #FFF;
    margin-bottom: 1rem;

}

.btn {

    background: #FFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.6rem;
    color: #333;
    font-weight: 700;
}

.wrapper {
    width: 320px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #FFF;
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}


/* ### NAVBAR GENERAL ### */

#header-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: var(--grey);
    opacity: .9;
}

.navbar-items {
    margin-left: .5rem;
    border: 2px solid #E30613;
    background-color: #E30613;
}

#desktop-nav ul {
    padding-top: .35rem;
}

/* LINK STYLE */
a {
    text-decoration: none;
    font-size: 1.3rem;
}
a:link {
    color: var(--gold);
}

a:active {
    color: var(--dark-red);
}
a:visited {
    color: var(--gold);
}

a:hover {
    color: var(--light-red);
}


/* === GRID-SYSTEM === */
.col-1 { width: 16.666%; }

.col-2 { width: 33.333%; }

.col-3 { width: 50%;     }

.col-4 { width: 66.666%; }

.col-6 { width: 100%;    }


.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}



/* @media (max-width: 1024px) {

    .col-1 { width: 33.333%; }

}

@media (max-width: 768px) {

    .col-1 { width: 50%; }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }

    .col-4 { width: 100%; }

}

@media (max-width: 480px) {

    .col-1 { width: 100%; }

    .col-2 { width: 100%; }

    .col-3 { width: 100%; }

    .col-4 { width: 100%; }

} */